.career-container{
  background-image: url('../assets/careercontainer.png'); 
  background-repeat: no-repeat;
  background-size: 100% 70%;
  background-position:top;
}
.career-container-form{
    background-color: #E7F7FF;
    border-radius: 2%;
}
form{
    color: #337EA4;
}

.drag-area {
  height: 25%;
  border: 3px dashed #e0eafc;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem auto;
}
.job-search-container{
 background-image: url('../assets/whyworkwithus.png');
 background-repeat: no-repeat;
}
.search-box{
  border-color: #337EA4;
  width: 40%;
}
.search-box input::placeholder{
  color: #337EA4;
  font-size: 1rem;
  font-weight: bold;
  word-spacing:0.1em;
  letter-spacing: 0.1rem;
}
.drag-area .icon {
  font-size: 1.5rem;
  color: #337EA4;
}

.drag-area .header,.header-drag {
  font-size: 1rem;
  font-weight: 500;
  color: #337EA4;
  opacity: 50%;
}

.drag-area .resumeAttachment {
  font-size: 1rem;
  font-weight: 500;
  color: #337EA4;
  cursor: pointer;
}

.drag-area.active {
  border: 2px solid #337EA4;
}
#jobs .card{
  border-color: #2E6397;
  border-left: 0.2rem solid #2E6397;
}
