.career-side-container{
    background-color: #337EA4;
    width: 40%;
    height: 100%;
}
.career-container-form{
    background-color: #E7F7FF;
    width: 60%;
    height: 100%;
    border-radius: 2%;
}