
.getIntouch{
  margin-top: 8rem;
}
.contactmargin{
  margin-top: 8rem;
}

.contactus-container{
  background-color: rgb(229, 243, 250);
}

.font-color-blue,
.contactDetails a{
  color: #005e8d !important;
}
.contactUsicons{
  margin-right: 1rem;
  scale: 1.2;
}
@media (max-width:700px) {
  .getIntouch{
    margin-top: 6rem;
  }
  .contactmargin{
    margin-top: 2rem;
  }
}