.service-page-section-1-part-1,
.service-page-section-1-part-2{
  margin-top: 9rem;
}
.card-border{
  height: 12rem;
  /*width: 30rem; */
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 0.5rem;
  background-color: #005E8D;
  color: white;
  padding-left: 2rem;
  padding-top: 2rem;
}

.card-row{
  width: 75%;
}
.serviceimg1{
  mix-blend-mode: multiply;
}

@media (max-width: 600px) {
  .service-page-section-1-part-1{
    margin-top: 2rem;
  }
  .service-page-section-1-part-2{
    margin-top: 5rem;
  }

  .card-row{
    width: 100%;
  }
}