.rec-arrow-right,.rec-arrow-left{
 background-color: transparent !important;
 color: #005e8d !important;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}